#harsha_img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.top{
	margin: 10px 10px;
	text-align: center;
}

#type{
	padding: 10px 10px;
}

.humblefool{
	color: white;
	margin-top: 5px;
}

#intro{
	font-size: 38px;
}

#footer{
	float: right;
}

#brief_about{
	width: 48.3333%;
}

#short_about{
		font-size: 20px;

}

#short_about1{
		font-size: 20px;

}

#love{
	width: 500px;
}

#life-events{
	margin: 5px 45px 10px 65px;
}

.life-events{
	margin: 5px 15px 10px 15px;
}

#life-look{
	text-align: center;
}

.year-header{
	font-size:25px;
	color: #2196F3;
	text-align: left;
}

.life-look-div ul li:nth-child(odd){
	background-color: rgb(247,247,247);
}

.life-look-div{
	margin-bottom: 20px;
}

.life-description{
	font-size: 16px;
	padding: 5px 0px 5px 0px;
}
