#harsha_img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.top{
	margin: 10px 10px;
	text-align: center;
}

#type{
	padding: 7px 7px;
}

.humblefool{
	color: white;
	margin-top: 3px;
	padding-top: 2.5px;
}

#header_tribute{
	color: #C29898;
}

#intro{
	font-size: 23px;
}


#contact{
	text-align: center;
}


#contact ul{
	text-align: center;
	margin: 5px 5px;
}


#contact ul li a{
	padding-left: 10px;
}


#brief_about{
	width: 48.3333%;
}

#short_about{
		font-size: 20px;

}

#short_about1{
		font-size: 20px;

}

#life-events{
	margin: 5px 45px 10px 65px;
}

.life-events{
	margin: 5px 15px 10px 15px;
}

#life-look{
	text-align: center;
}

.year-header{
	font-size:18px;
	color: #2196F3;
	text-align: left;
	font-weight: bold;
}

.life-look-div ul li:nth-child(odd){
	background-color: rgb(247,247,247);
}

.life-look-div{
	margin-bottom: 60px;
	margin-left: 20px;
	margin-right: 20px;
}

.life-description{
	font-size: 14px;
	padding: 5px 0px 5px 0px;
}

.tribute{
	text-align: center;
	background-color: #242943;
	margin-bottom: 0px;
	height: 265px;
}

#tribute{
		font-size: 20px;
		color: white;
		margin-top: 25px;
		line-height: 28px;
}

.rip{
	font-size: 35px;
	line-height: 40px;
}

.material-icons.red { color: red; }

#cup_des p{
	font-size: 17px;
}

#humblefoolcup{
	font-size: 38px;
}

#love{
	text-align: center;
	width: 900px;
	margin: auto auto;
}

#header_humblefool_effect:hover{
cursor: pointer;
text-shadow: 0 4px 0 rgba(0,255,0,0.6),4px 4px 0 rgba(0,0,255,0.4),-4px -4px 0 rgba(255,0,0,0.2),0 1px 0 rgba(255,255,0,0.8) ,0 1px 0 rgb(255,255,255), 0 -4px 0 rgba(255,0,255,0.6),0 -2px 0 rgba(255,255,255,0.4);
  }